body {
    font-family: 'Open Sans', sans-serif;
  }

.cabecalho{
    color: #0E0F19;
    background-image: url("./pop-art-pattern-yellow-effect.png");
    position: relative;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .cabecalho-menu{
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
  }

  .cabecalho-menu-item{
    display: flex;
    padding: 10px;
    height: 35px;
    justify-content: space-around;
  }

  .cabecalho-menu-item:hover{
    font-size: 105%;
  }
  
  .cabecalho-foto{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  }

  .cabecalho-bloco-dois-esquerda{
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: 25px;
  }

  .cabecalho-bloco-dois{
    display: flex;
    justify-content: space-evenly;
  }
  
  @media(min-width: 500px) and (max-width:600px){
    
    
    .cabecalho-foto{
      height: 300px;
      width: 300px;
    }

    .cabecalho-bloco-dois-esquerda{
      font-size: 15px;
    }
  
    .cabecalho-bloco-dois{
      display: flex;
      flex-direction: column-reverse;
      position:absolute;
      top:20%;
      left:23%;
    }
  }

  @media(min-width:320px) and (max-width:450px){
    
    .cabecalho-foto{
      height: 250px;
      width: 250px;
      
    }

    .cabecalho-bloco-dois-esquerda{
      font-size: 15px;
      margin-top: 50px;
      text-align: center;
    }
  
    .cabecalho-bloco-dois{
      display: flex;
      flex-direction: column-reverse;
      position:absolute;
      width: 100%;
	    justify-content: center;
	    align-items: center;
      margin-top: 80px;
    }

    .cabecalho-menu{
    padding: 15px;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
}
